
<% @userProfile.each do |item| %>


<h1>Profile de <%= item.name %></h1>


<div class="card mb-3">
<div class="pull-right"><%= image_tag(item.avatar.url(:medium)) %>
	
</div>


  <div class="card-block">
    <p class="card-text"><%= item.email %></p>
    <p class="card-text"><small class="text-muted">Crée le <%= item.updated_at.strftime("%d- %m - %Y") %></small></p>
  </div>
</div>	

<% end %>